@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional custom styles */

/* Example custom styles */
/* Customize link color */
a {
  color: #4f46e5;
}

a:hover {
  color: #4338ca;
}

/* Example custom background color */
.bg-custom {
  background-color: #f0f0f0;
}
